<% provide(:title, "Clock+") %>

    <div class="row1">
        <div class="col">
            <div class="center jumbotron" style="background-color:#222; color: white; height: 200px;">
                <h1> Clock+ </h1>
                <h4> Clock built by Joshua Barua - s3610346@student.rmit.edu.au - Credit - Offshore Group </h4>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="row2" style="color: white;">
           
            <div class="col center-block" style="padding-top: 50%;">
                <h5 class="sidebarKey"><i class="fas fa-circle" style="color:rgb(79, 255, 158);"></i> Business Time</h5>
                <h5 class="sidebarKey"><i class="fas fa-circle" style="color:yellow;"></i> Business Overtime</h5> 
                <h5 class="sidebarKey"><i class="fas fa-circle" style="color:red;"></i> Personal Time</h5> 
                <h5 class="sidebarKey"><i class="fas fa-moon" style="color: light-grey;"></i> Sleeping Time</h5>
            </div>

            <div class="col-5 center-block" style="background-color:#363636">
            <h5 style="text-align:center; font-size:10px; font-weight: 300;"> Universal Time Coordinated: <%= @t.strftime("%H:%M")%></h5>
                 <table style="table-layout: fixed; width:100%;">
                    <tr class="tableRow">
                        <th><h2> <%= @london.utc %><br><%=@t1.strftime("%:z")%>h</h2></th>
                        <td><h2> <%= @t1.strftime("%H:%M")%><br><%= dayIsIt %><%= modeSwitcher1 %> </h2></td>
                    </tr>
                    <tr class="tableRow">
                        <th> <h2> <%= @melbourne.utc %> <br> <%= @t2.strftime("%:z") %>h </h2></th>
                        <td><h2> <%= @t2.strftime("%H:%M") %> <br><%= dayIsIt %><%= modeSwitcher2 %></h2></td>
                    </tr>
                    <tr class="tableRow">
                        <th> <h2> <%= @germany.utc %> <br> <%= @t3.strftime("%:z") %>h</h2></th>
                        <td> <h2> <%= @t3.strftime("%H:%M") %><br><%= dayIsIt %><%= modeSwitcher3 %> </h2></td>
                    </tr>
                </table>
                   
            </div>

            <div class="col center-block" style="padding-top: 50%;">
                <h5 class="sidebarKey">Colour Theme</h5>
                <nav>
                    <ul class="themeSelection">
                        <li class="<%= is_active? (root_path) %>"> 
                        <%= link_to "Black", "#" %>
                        </li>
                        <li class="<%= is_active? (contact_path)%>">
                        <%= link_to "Graphite", "#" %>
                        </li>
                        <li class="<%= is_active? (contact_path)%>">
                        <%= link_to "White", "#" %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>    
    </div>
